<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:v-on="http://www.w3.org/1999/xhtml">

<div th:fragment="searchPart">
    <div id="searchPart" style="margin-left : auto; margin-right : auto; text-align : center; ">
        <form class="form-inline mt-3 justify-content-center" method="get" action="./search">
            <select id="searchType" class="custom-select my-1 mr-sm-2"
                style="width: 15%" name="searchType">
                <option selected value="title">제목</option>
                <option value="content">내용</option>
                <option value="writer">작성자</option>
            </select>
            <input id="searchWord" type="text" class="form-control"
                   name="searchWord" placeholder="검색어를 입력하세요" style="width: 25%">
            <button type="submit" class="btn btn-sm text-light ml-3"
                    style="background-color: #05445E; color: white;" v-on:click="searchContents()">검색</button>
        </form>
    </div>
</div>
</html>