<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:v-on="http://www.w3.org/1999/xhtml">

<div id="lower_prev_next" th:fragment="lowerPrevNextPart(prevTitle,nextTitle)">
    <div id="lowerPrevNextPart">
        <div class="prev_page">
            <a href="javascript:;" v-on:click="prevContentClick()" >
                <p><b>
                        <em class="link">« Prev </em>
                        <span th:text="${prevTitle}"></span>
                </b></p>
            </a>
        </div>
        <div class="next_page">
            <a href="javascript:;" v-on:click="nextContentClick()" >
                <p>
                    <b>
                        <span th:text="${nextTitle}"></span>
                        <em class="link"> Next »</em>
                    </b>
                </p>
            </a>
        </div>
    </div>
</div>
</html>