<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>고창 전수후기 백업 게시판</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/lib/css/page/main.css">
</head>
<div th:replace="fragment/head :: head"></div>
<body>
    <!-- Navbar Start -->
    <div th:replace="fragment/navbar :: navbar"></div>
    <!-- Navbar End -->

    <!-- -->
    <div id="writeRow_part" class="page-header">
        <h1>전수 후기 백업 게시판</h1>
        <h5>모든 내용은 2020년 12월 31일 기준입니다.</h5>
    </div>
    <div th:include="pages/postBoard :: postBoard"></div>

</body>