<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">

<div id="postBoard" th:fragment="postBoard">
    <h5 id="totalElements" style="float:left;">총 {{totalElements}} 개의 글이 있습니다.</h5>
    <!-- Option Start -->
    <div style="float: right;">
        <select id="countPerPage" name="sel" onchange="selChange()">

            <option value="10">
            10개씩 보기
            </option>
            <option value="15">
            15개씩 보기
            </option>
            <option value="20">
            20개씩 보기
            </option>
            <option value="30">
            30개씩 보기
            </option>
        </select>
    </div>
    <!-- Option End -->
    <!-- Board Start -->
    <div id="table_part" th:fragment="postBoard">
        <table class="table table-hover text-center">
            <thead style="background-color: #a0d2ba">
            <tr role="row">
                <th scope="col" style="text-align:center">글 번호</th>
                <th scope="col" style="text-align:center">제목</th>
                <th scope="col" style="text-align:center">작성자</th>
                <th scope="col" style="text-align:center">작성일</th>
                <th scope="col" style="text-align:center">조회수</th>
                <th scope="col" style="text-align:center">추천수</th>
            </tr>
            </thead>
            <tbody id="itemList">
            <tr role="row" class="odd" v-for="dto in itemList" id="readPostForm"
                style="cursor: pointer;" v-on:click="onRowClick(dto)">
                <td>{{dto.id}}</td>
                <td>{{dto.title}} [{{dto.reply_count}}]
                    <img v-if="dto.picture == '1'" src="/lib/img/attached.png" width="20" height="20">
                </td>
                <td>{{dto.writer}}</td>
                <td>{{dto.write_date}}</td>
                <td>{{dto.count}}</td>
                <td>{{dto.recommend}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Board End -->

    <!-- Paging Start -->
    <div style="display: block; text-align: center;">
        <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers" id="pageBtn">
                <ul class="pagination">
                    <li class="paginate_button" id="firstPageBtn">
                        <a href="javascript:;" v-on:click="firstPageClick()">맨앞</a>
                    </li>
                    <li class="paginate_button previous" id="previousBtn">
                        <a href="javascript:;" v-on:click="previousClick()">이전</a>
                    </li>

                    <li class="paginate_button" v-for="btn in btnList" v-bind:btn_id="btn" v-on:click="indexClick(btn)">
                        <a href="javascript:;" aria-controls="example2">{{btn}}</a>
                    </li>
                    <li class="paginate_button next" id="nextBtn">
                        <a href="javascript:;" v-on:click="nextClick()">다음</a>
                    </li>
                    <li class="paginate_button" id="lastPageBtn">
                        <a href="javascript:;" v-on:click="lastPageClick()">맨뒤</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Paging End -->

    <script src="/app/postBoard.js"></script>
</div>
</html>