<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>전수후기 내용 읽기</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/lib/css/page/error.css">
</head>
<div th:replace="fragment/common/head :: head"></div>
<body>
    <!-- Navbar Start -->
    <div th:replace="fragment/common/navbar :: navbar"></div>
    <!-- Navbar End -->

    <article id="wrap_box">
        <br>
        <br>
        <p>불편을 드려서 죄송합니다. 잘못된 접근입니다.</p>
        <a href="/">홈으로 돌아가기</a>
    </article>
</body>
</html>